@model  Energiejournaal.Models.vwChart
@{
    ViewBag.Title = "CHARTS";
}
<div class="container">
    <div class="ep-decor-module">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 fmt">
                        <div class="row">
                            <div class="col-sm-6 fpr">
                                <button type="submit" class="fp2 btn btn-block time-btns" onclick="alert('1 YEAR')">1 YEAR</button>
                            </div>
                            <div class="col-sm-6 fpr">
                                <button type="submit" class="fp2 btn btn-block time-btns" onclick="alert('All time')">All time</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 fpr fmt">
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker1">
                                <input type="text" class="form-control" placeholder="Select Date" id="mindate" value="01.01.1999"/>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 fpr fmt">
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker2">
                                <input type="text" class="form-control" placeholder="Select Date"  id="maxdate"/>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 fpr fmt">
                        <select class="form-control" id="Groups">
                            <option disabled selected>Select Group</option>
                            @foreach (var group in ViewBag.Groups)
                            {
                                <option label="@group.Name">@group.ID</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-3 fpr fmt">
                        <select class="form-control" id="Chart">
                            <option disabled selected>Select Chart</option>
                            @foreach (var chart in ViewBag.Charts)
                            {
                                <option label="@chart.Name">@chart.ID</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-6 fpr">
                        <a href="#" id="displayBtn" class="btn btn-primary btn-block col-sm-12 fmt fp2">Add Data</a>
                    </div>
                    <div class="col-sm-12">
                        <div id="Data" class="col-sm-12 col-xl-6 fpr">
                        </div>
                        <div id="Data2" class="col-sm-12 col-xl-6 fpr">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 fpr fmt">
                <div id="container1"></div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="#" class="btn btn-primary btn-block col-sm-4 fp2">Meer Prijsinfo</a>
                    <div class="col-sm-4"></div>
                </div>
            </div>            
            @*<img src="~/Content/img/graph.png" class="col-sm-12 col-md-6 col-lg-4 fmt" />
                <img src="~/Content/img/graph.png" class="col-sm-12 col-md-6 col-lg-4 fmt" />
                <img src="~/Content/img/graph.png" class="col-sm-12 col-md-6 col-lg-4 fmt" />*@
            @*<img src="~/Content/img/qwertypng.png" class="col-sm-12 logo fmt" />*@
        </div>
    </div>
</div>