@{
    ViewBag.Title = "CHARTS";
}
<section class="content-wrap yobject-marked">
    <div class="wrapper-all">
        <div class="container">
            <div class="ep-decor-module">
                <div class="row row-min">
                    <div class="col-sm-12 col-lg-6">
                        <div class="row">
                            <a href="#" class="time-btns col-sm-3 fb">3 MONTHS</a>
                            <a href="#" class="time-btns col-sm-3 fb">6 MONTHS</a>
                            <a href="#" class="time-btns col-sm-3 fb">1 YEAR</a>
                            <a href="#" class="time-btns col-sm-3 fb">5 YEARS</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6 calender-wrap fp">
                        <div class="row row-min">
                            <div class="col-sm-2 text-right">Select Date</div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <div class="input-group date" id="datetimepicker1">
                                        <input type="text" class="form-control" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <div class="input-group date" id="datetimepicker2">
                                        <input type="text" class="form-control" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control">
                            <option>Power</option>
                            <option>option-02</option>
                            <option>option-03</option>
                            <option>option-04</option>
                            <option>option-05</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control">
                            <option>Austria</option>
                            <option>option-02</option>
                            <option>option-03</option>
                            <option>option-04</option>
                            <option>option-05</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <a href="#" class="btn btn-primary btn-block btn-sm"><i class="fa fa-eye"></i> View Chart</a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#" class="btn btn-secondary btn-block btn-sm"><i class="fa fa-line-chart"></i> Add Curve</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>