@model  Energiejournaal.Models.vwChart
@{
    ViewBag.Title = "CHARTS";
}
<div class="container">
    <div class="ep-decor-module">
        <div class="row">
            <div class="col-sm-12 col-lg-8">
                <div class="row">
                    <div class="col-sm-12 col-xl-6 fmt">
                        <div class="row">
                            <div class="col-sm-3 fpr">
                                <a href="#" class="fp2 btn btn-block time-btns">1 MONTH</a>
                            </div>
                            <div class="col-sm-3 fpr">
                                <a href="#" class="fp2 btn btn-block time-btns">6 MONTHS</a>
                            </div>
                            <div class="col-sm-3 fpr">
                                <a href="#" class="fp2 btn btn-block time-btns">1 YEAR</a>
                            </div>
                            <div class="col-sm-3 fpr">
                                <a href="#" class="fp2 btn btn-block time-btns">All time</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 fpr fmt">
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker1">
                                <input type="text" class="form-control" placeholder="Select Date" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 fpr fmt">
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker2">
                                <input type="text" class="form-control" placeholder="Select Date" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xl-4 fpr fmt">
                        <div class="form-group">
                            <select class="form-control" name="Groups" id="Groups" value="">
                                <option disabled selected>Select Group</option>
                                @foreach (var group in ViewBag.Groups)
                                {
                                <option>@group.Name</option>
                                }
                                <option>Dfgh</option>
                                <option>dfgh</option>
                                <option>dfgh</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xl-4 fpr fmt">
                        <div class="form-group">
                            <select class="form-control" name="Chart" id="Chart">
                                <option disabled selected>Select Chart</option>                               
                                @foreach (var chart in ViewBag.Charts)
                                {
                                    <option>@chart.Name</option>
                                }                                           
                            </select>
                        </div>
                    </div>
                        <a href="#" type="button" id="displayBtn" class="btn btn-primary btn-block col-sm-12 col-xl-4 fmt">Add Data</a>
                    <div id="Data" class="col-sm-12 col-xl-6 fmt">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 fpr fmt">
                <div id="container1"></div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="#" class="btn btn-primary btn-block col-sm-4 fp2">Meer Prijsinfo</a>
                    <div class="col-sm-4"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 fpr fmt">
                <div id="container2"></div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="#" class="btn btn-primary btn-block col-sm-4 fp2">Meer Prijsinfo</a>
                    <div class="col-sm-4"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 fpr fmt">
                <div id="container3"></div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="#" class="btn btn-primary btn-block col-sm-4 fp2">Meer Prijsinfo</a>
                    <div class="col-sm-4"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 fpr fmt">
                <div id="container4"></div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="#" class="btn btn-primary btn-block col-sm-4 fp2">Meer Prijsinfo</a>
                    <div class="col-sm-4"></div>
                </div>
            </div>
            @*<img src="~/Content/img/graph.png" class="col-sm-12 col-md-6 col-lg-4 fmt" />
                <img src="~/Content/img/graph.png" class="col-sm-12 col-md-6 col-lg-4 fmt" />
                <img src="~/Content/img/graph.png" class="col-sm-12 col-md-6 col-lg-4 fmt" />*@
            @*<img src="~/Content/img/qwertypng.png" class="col-sm-12 logo fmt" />*@
        </div>
    </div>
</div>