.logo {
    height: 100%;
    padding: 10px 15px 15px 15px;
}
body {
    font: 600 13px/23px "Open Sans", Arial, Helvetica, sans-serif;
    font-size:16px;
    color: #1896c0;
    background-color: #f6f6f6;
}
.container {
    padding: 0px;
}
.ht {
    text-align: center;
}
.ht a:hover {
        color: #93B359;
        text-decoration: none;
}
.fp {
    padding: 0px;
}
.fp2 {
    padding: 7px 0px 7px 0px;
}
.fpr {
    padding-right: 0px;
}
.ftd {
    padding-right: 15px;
    padding-left: 25px;
}
.ep-decor-module {
    background-color: #f6f6f6;
    margin-bottom: 30px;
    padding: 20px 0px 0px 0px;
}
.form-group {
    margin-bottom: 0;
}
.time-btns {
    font: 600 13px/23px "Open Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #bfbfbf;
    text-transform: uppercase;
    color: #fff;

}
.time-btns:hover {
       color: #fff;
       background-color: #666;
}
.footer {
    background: #005372;
    padding: 30px 0;
    position: absolute;
    bottom: auto;
    width: 100%;
    height: 200px;
    color: #fff;
    text-decoration: none;
}
.copyright a {
        color: #fff;
        font-size:14px;
}
.copyright a:hover {
    color: #88AA00;
    text-decoration: none;
}
.copyright {
    border-top: 1px solid #93B359;
    padding-top: 25px;
    margin-top: 25px;
}
.input-group-addon:hover {
       color: #fff;
       text-decoration: none;
       background-color: #666;
}
.btn:hover {
cursor:pointer;
}
.btn-primary {
    background-color: #93B359;
    color: #fff;
}
.btn-primary:hover {
    background-color: #93B359;
    color: #fff;
    cursor:pointer;
}
.btn {
    vertical-align: middle;
    font: 600 14px/24px "Open Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border: 0;
}
.form-control:focus {
    color: #464a4c;
    background-color: #fff;
    outline: none;
    border-radius: 0px;
    border-radius: 3px 3px 0px 0px;
}
div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.fmt {
margin-top:10px;
}
.fbgw {
  background-color: #fff;
  width: 100%;
}