@@font-face
 {
    font-family: 'Robotomedium'; 
    url('fonts/roboto-medium.ttf'); 
 }
.logo {
    height: 100%;
    padding: 10px 15px 15px 15px;
    font-family: 'Robotomedium', sans-serif;
    font-size:16px;
}
body {
    font-family: "roboto regular", Arial, Helvetica, sans-serif;
    font-size:16px;
    color: #2c77ba;
    background-color: #fff;
    text-transform: uppercase;
}
.container {
    padding: 0px;
}
.ht {
    text-align: center;
}
.ht a:hover {
        text-decoration: none;
}
.ht2 {
    text-align: right;
    text-align: -webkit-match-parent;
}
.fb {
    padding: 0px;
}
.ftd {
    padding-right: 15px;
    padding-left: 25px;
}
.text-right {
    text-align: right !important;
    color:#FC6D22;
}
.time-btns {
    color:#93B359;
}
.footer {
    background: #005372;
    padding: 30px;
}